<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/' class='c-nav__link'>Movement</a>
</li>
<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/mission.html' class='c-nav__link'>Mission</a>
</li>
<li class='c-nav__item'>
  <a href='{{ site.baseurl }}/memes.html' class='c-nav__link'>Memes</a>
</li>

{% for page in site.pages %}
  {% unless page.name == '404.md' %}
    {% if page.title %}
      <li class='c-nav__item'>
        <a class='c-nav__link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
      </li>
    {% endif %}
  {% endunless %}
{% endfor %}
